body {
  margin: 0;
}

.App {
  align-items: center;
  background-color: #131313;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(3, 200px);
  justify-content: center;
  
}

.box {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.box-green {
  background-color: aquamarine;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.box-blue {
  background-color: lightblue;
  grid-column: 3 / span 3;
}

.box-orange {
  background-color: coral;
  grid-column: 3 / span 2;
  grid-row: 2 / span 2;
}

.box-teal {
  background-color: teal;
}

.box-pink {
  background-color: palevioletred;
  grid-column: 1 / span 2;
}

.box-violet {
  background-color: blueviolet;
}
